<?xml version="1.0" encoding="UTF-8"?>
<phpunit
	bootstrap="tests/bootstrap.php"
	colors="true"
	convertDeprecationsToExceptions="false"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	verbose="true"
>
	<testsuites>
		<testsuite name="Unit">
			<directory suffix="Test.php">tests/unit</directory>
		</testsuite>
		<testsuite name="Integration">
			<directory suffix="Test.php">tests/integration</directory>
		</testsuite>
	</testsuites>
	<php>
		<const name="ADDRESS_GUARD_TESTING" value="true"/>
		<const name="WP_TESTS_PHPUNIT_POLYFILLS_PATH" value="./vendor/yoast/phpunit-polyfills"/>
		<env name="ADDRESS_GUARD_TESTING" value="1"/>
	</php>
</phpunit>
